@font-face { font-family: Augusta; src: url('extras/Augusta.ttf'); }

body {
    background-image: url(extras/bg.png);
    background-size: cover; 
}    

h2 {
    text-align: center;
    font-size: 50px;
    font-family: Augusta, sans-serif;
    padding: 70px;
    color: black;
}

.active {
    color: rgb(252, 217, 103);
}

.buffsActive {
    color: rgb(252, 217, 103);
    font-size: 35px;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-family: Augusta, Times, serif;
    padding: 80px;
    color: rgb(0, 0, 0);
}

.cureWoundsText {
    padding: 0px;
    margin-top: -30px;
}

.healingWordText {
    padding: 0px;
    margin-top: 10px;
}

.buffsGUILeft {
    margin-top: -15px;
}

.buffsGUIRight {
    margin-top: -15px;
}

.buffsH1 {
    text-align: left;
}

.buffsP {
    text-align: left;
    margin-top: -100px;
    margin-left: 100px;
}


p {
    font-family: Augusta, sans-serif;
    font-size: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 0px
}

div.curewounds {
    padding: 80px;
}

img {
    border: solid black;
    border-radius: 8px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.scroll {
    width: 325px;
    height: 200px;
    padding: 0px;
    margin: 0px;
    background-image: url(extras/scroll.png);
    background-size: cover;
    text-align: center;
}

.bigscroll {
    width: 500px;
    height: 225px;
    padding: 0px;
    margin: 0px;
    background-image: url(extras/bigscroll.png);
    background-size: cover;
    text-align: center;
}

.buffs {
    font-size: 35px;
}

.healsGUI {
    width: 375px;
    height: 500px;
    padding: 0px;
    margin: 0px;
    background-image: url(extras/parchment.png);
    background-size: cover;
    text-align: center;
}

.divineIntervention {
    width: 760px;
    height: 300px;
    padding: 0px;
    margin-left: 630px;
    background-image: url(extras/buffs_scroll.png);
    background-size: cover;
    text-align: center;
}

.divineInterventionP {
    margin-top: -50px; 
}

.buffsGUI {
    width: 760px;
    height: 300px;
    padding: 0px;
    margin-right: 100px;
    margin-left: 100px;
    background-image: url(extras/buffs_scroll.png);
    background-size: cover;
    text-align: center;
}

.buffsGUItitle {
    width: 450px;
    height: 200px;
    padding: 0px;
    margin-right: 100px;
    margin-left: 100px;
    background-image: url(extras/buffs_title_scroll.png);
    background-size: cover;
    text-align: center;
    float: left;
}

.buffsGUItitleLeft {
    width: 450px;
    height: 200px;
    padding: 0px;
    margin-right: 100px;
    margin-left: 100px;
    background-image: url(extras/buffs_title_scroll.png);
    background-size: cover;
    text-align: center;
    float: right;
}

.alzheimer {
    width: 760px;
    height: 300px;
    padding: 0px;
    margin-right: 20px;
    margin-left: 200px;
    background-size: cover;
    text-align: center;
    margin-top: -1155px;
    float: right;
}

.alzheimer2 {
    width: 760px;
    height: 300px;
    padding: 0px;
    margin-right: -20px;
    margin-left: 200px;
    background-size: cover;
    text-align: center;
    margin-top: -855px;
    float: right;
}

.alzheimer3 {
    width: 760px;
    height: 300px;
    padding: 0px;
    margin-right: -20px;
    margin-left: 200px;
    background-size: cover;
    text-align: center;
    margin-top: -555px;
    float: right;
}

.alzheimer4 {
    width: 760px;
    height: 300px;
    padding: 0px;
    margin-right: -20px;
    margin-left: 200px;
    background-size: cover;
    text-align: center;
    margin-top: -255px;
    float: right;
}